.venv/
__pycache__/
*.pyc
.ruff_cache/
.mypy_cache/
src/phyton_cap_axity/FundamentalLevel/Laboratorio6/salida/
src/phyton_cap_axity/FundamentalLevel/Laboratorio6/logs/
src/phyton_cap_axity/FundamentalLevel/Laboratorio3/proceso.log
src/phyton_cap_axity/FundamentalLevel/Laboratorio2/salida.json
docker-compose.yml
mocks/
src/phyton_cap_axity/Intermediate/Laboratorio1/orm_demo/demo.db
src/phyton_cap_axity/Intermediate/Laboratorio1/orm_demo/alembic/script.py.mako
src/phyton_cap_axity/Intermediate/Laboratorio1/orm_demo/alembic/versions/
src/phyton_cap_axity/Intermediate/Laboratorio2y3/APIWeb/app/venv/
src/phyton_cap_axity/Intermediate/Laboratorio2y3/APIWeb/app/source/
src/phyton_cap_axity/Intermediate/Laboratorio2y3/APIWeb/app/.env
src/phyton_cap_axity/Intermediate/Laboratorio2y3/APIWeb/app/.env.example
